<div id="item" class="d-xl-flex justify-content-xl-center align-items-xl-center overlay hide-element pointer">
    <div class="card shadow mb-4" style="position:fixed;z-index: 1000;">
        <div class="card-body" style="border-radius: 5px;background: #3B4042;">
            <div class="row row-cols-1 d-flex d-xl-flex justify-content-center justify-content-xl-center">
                <div class="col-11">
                    <div class="row" style="background: #2E3335;border-radius: 8px;padding-bottom: 16px;padding-top: 8px;margin-top: 5px;">
                        <div class="col-xl-4 d-xl-flex justify-content-xl-center align-items-xl-center"><img src="https://dunb17ur4ymx4.cloudfront.net/packages/images/37ab58d6c391a63c4de35d3de9dbcd55f479cf71.png" width="100" style="margin: 10px;" /></div>
                        <div class="col-xl-8">
                            <div class="row row-cols-1">
                                <div class="col">
                                    <p style="font-weight: bold;font-size: 17px;margin-top: 10px;margin-bottom: 1px;">1x St Patrick&#39;s Crate Key</p>
                                    <p style="font-weight: bold;font-size: 17px;">5.99 USD</p>
                                </div>
                                <div class="col"><button class="btn btn-primary" type="button" style="width: 81.1719px;">Buy</button></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" style="padding-top: 11px;">
                    <div style="overflow-y: scroll;height: 400px;padding: 20px;">
                        <pre>
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>