<div id="login" class="d-lg-flex d-xl-flex justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center overlay hide-element" asd="hide-element">
    <div class="col-lg-5 col-xl-3 col-xxl-3" >
        <div class="card shadow mb-4">
            <div class="card-header d-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center" style="height: 106.5938px;background: var(--bs-success);">
                <h1 class="d-xl-flex" style="font-weight: bold;margin-top: 15px;">LOGIN</h1>
            </div>
            <div class="card-body" style="background: #2F3436;">
                <div class="row row-cols-1">
                    <div class="col text-center" style="margin-top: 28px;">
                        <p style="font-size: 17px;color: var(--bs-gray-600);font-family: 'Space Grotesk', sans-serif;font-weight: bold;">Enter your username exactly as it is in-game:<br /></p>
                    </div>
                    <div class="col" style="text-align: center;margin-top: 25px;"><input id="username" class="form-control-lg" type="text" style="transition: outline 100ms ease-out;border-radius: 5px;background: transparent;text-align: center;border: 3px solid var(--bs-success);width: 100%;height: 56px;font-weight: bold;color: var(--bs-white);" placeholder="Enter your Username" /></div>
                    <div id="login-button" onclick="login()" class="col" style="text-align: center;margin-top: 25px;"><button class="btn" type="button" style="font-weight: bold;background: var(--bs-success);height: 55px;width: 100%;">Login</button></div>
                    <div class="col" style="margin-top: 7px;text-align: center;"><a href="#" style="text-decoration: none;" onclick="toggleLogin()">Back to homepage</a></div>
                </div>
            </div>
        </div>
    </div>
</div>