</div>
</div>
</div>
<footer class="d-flex d-xl-flex justify-content-center justify-content-lg-center justify-content-xl-center" style="height: 60px;width: 100%;margin-bottom: 30px;margin-top: 30px;">
    <div style="height: 100%;width: 70%;">
        <div class="row d-xl-flex justify-content-xl-end">
            <div class="col">
                <p style="font-weight: bold;margin-bottom: 0px;margin-left: 20px;margin-top: 7px;">2022&nbsp;© MrAdhit - All Rights Reserved</p>
                <p style="margin-left: 20px;margin-bottom: 0px;font-size: 14px;color: var(--bs-gray);">We are not affiliated with Mojang AB</p>
            </div>
            <div class="col text-end hidden-sm-xs"><img src="https://cdn.discordapp.com/avatars/405479178738204673/459e2227aff15f9f857afec612f9e993.png" width="50" height="50"></div>
        </div>
    </div>
</footer>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/scripts.js"></script>
</body>
</html>